.card {
  background: red;
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  color: white;
  font-family: "Karla";
  font-size: 40px;
  font-weight: 800;
  font-size: normal;
  line-height: 40px;
  width: 354px;
}

h1 > span {
  color: #0ea5e9;
}

p {
  color: white;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  width: 372px;
}

button {
  background-color: #0ea5e9;
  color: white;
  font-display: medium;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 191px;
  height: 42px;
  border: none;
  text-align: center;
  border-radius: 6px;
}

.password-container > p {
  background: #273549;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  background: #273549;
}
